[run]
branch = true
source = movies_api, movies, core
omit =
    *venv/*
    */tests/*
    */testing/*
    *__init__.py*
    */migrations/*
    */e2e/*
    *apps.py*
    *manage.py*
    *wsgi.py*
    *urls.py*